<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RememberCalendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
    </configSections>
    <userSettings>
        <RememberCalendar.Properties.Settings>
            <setting name="baseURL" serializeAs="String">
                <value>https://outlook.office365.com/</value>
            </setting>
            <setting name="icsRelativeURL" serializeAs="String">
                <value />
            </setting>
        </RememberCalendar.Properties.Settings>
    </userSettings>
</configuration>